# Ignore virtual environment
venv/
.venv/
env/

# Ignore python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore secret keys and local env variables
.env
api_key.txt

# Ignore your private PDF notes (Optional, keep if you want it in the repo)
# notes.pdf